.mb-10 {
    padding-bottom:15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mblg-5e {
    margin-bottom: 5em !important;
}
.mblg-60 {
    margin-bottom: 60px !important;
}
.mblg-90 {
    margin-bottom: 90px !important;
}
.mtlg-90 {
    margin-bottom: 90px !important;
}
.mblg-55 {
    margin-bottom: 55px !important;
}
.ptlg-0 {
    padding-top: 0 !important;
}
.ptlg-130 {
    padding-top: 130px !important;
}
.pt-25 {
    padding-top: 25px !important;
}
.pblg-4 {
    padding-bottom: 4em !important;
}
.pblg-6 {
    padding-bottom: 6em !important;
}
.pblg-8 {
    padding-bottom: 8em !important;
}
.pb-25 {
    padding-bottom: 25px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-60 {
    padding-top: 60px !important;
}

@media (max-width: 991px) {
    .pt-100 {
        padding-top: 50px !important;
    }
    .mtxs-30 {
        margin-top: 30px !important;
    }
    .mbxs-3e {
        margin-bottom: 3em !important;
    }
    .mbxs-30 {
        margin-bottom: 30px !important;
    }
    .pbxs-40 {
        padding-bottom: 40px !important;
    }
    .pbxs-0 {
        padding-bottom: 0 !important;
    }
}